@import "tailwindcss";

@theme inline {
  --color-primary: #ffade5;
  --color-secondary: #d1bcff;
  --color-tertiary: #00dbe9;
  --color-surface: #131313;
  --color-on-surface: #e5e2e1;
  --color-surface-variant: #353534;
  --color-on-surface-variant: #dcbed0;
  --color-primary-container: #ff3cde;
  --color-on-primary-container: #59004c;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-outline: #a48999;
  --color-outline-variant: #56404e;

  --font-headline: var(--font-space-grotesk), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-label: var(--font-space-grotesk), sans-serif;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.light-leak {
  filter: blur(120px);
  z-index: -1;
  pointer-events: none;
}

.glass-card {
  background: rgba(53, 53, 52, 0.4);
  backdrop-filter: blur(24px);
}
